@page "/processedOrders"

@attribute [Authorize]
@inject IViewProcessedOrdersUseCase viewProcessedOrdersUseCase

<h3>Processed Orders</h3>
<br />

<OrderlistComponent Orders="Orders"></OrderlistComponent>


@code {
    private IEnumerable<Order> Orders;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Orders = viewProcessedOrdersUseCase.Execute();

    }
}

